---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title = "Auror Ventures" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content="Empowering growth through finance and technology." />

    <!-- Favicon -->
    <link rel="icon" href="/images/favicon.png" />
  </head>

  <body class="relative">

    <!-- Header -->
    <Header />

    <!-- Page Content -->
    <main>
      <slot />
    </main>

    <!-- Footer -->
    <Footer />

  </body>
</html>